<img src='https://th.bing.com/th/id/OIP.0mtPy_tJkhR2cw2LACoGBwHaEK?pid=ImgDet&rs=1'>

In [1]:
'''NumPy is a Python Library. It stands for 'Numerical Python'. 
It is a library consisting of multidimensional array objects and a collection of routines for processing of array.
There are many contributors to this open source project.

reading resource : https://www.sharpsightlabs.com/blog/numpy-axes-explained/
                   https://opensourceoptions.com/blog/numpy-array-shapes-and-reshaping-arrays/#:~:text=6%207%5D%5D-,3D%20arrays,order%20layers%2C%20rows%2C%20columns.

'''


 # Numpy vs List
'''
Python List:

1.Able to store different data types in the same list
2.Storing each item in random location in the memory
3.Good for the scenario where list can grow dynamically
4.Inbuilt data type.
5.It has more inbuilt functions
6.Appending will take less time in O(1) time

NumPy Array:

1.Can store only one data type in an array at any time
2.Storing each item is sequential which makes array more effective in processing.
3.Good for the scenario where the items are fixed size and same data time
4.Need to install external library NumPy
5.No extra functions, so it will not more memory store.
6.Appending elements will take more time in O(N) time
'''

'\nPython List:\n\n1.Able to store different data types in the same list\n2.Storing each item in random location in the memory\n3.Good for the scenario where list can grow dynamically\n4.Inbuilt data type.\n5.It has more inbuilt functions\n6.Appending will take less time in O(1) time\n\nNumPy Array:\n\n1.Can store only one data type in an array at any time\n2.Storing each item is sequential which makes array more effective in processing.\n3.Good for the scenario where the items are fixed size and same data time\n4.Need to install external library NumPy\n5.No extra functions, so it will not more memory store.\n6.Appending elements will take more time in O(N) time\n'

<img src="https://predictivehacks.com/wp-content/uploads/2020/08/numpy_arrays.png">

In [2]:

#!pip install numpy

#import numpy module with alias np
import numpy as np

WARNING: You are using pip version 21.2.4; however, version 22.0.3 is available.
You should consider upgrading via the 'C:\Users\kiran\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: numpy in c:\users\kiran\appdata\local\programs\python\python310\lib\site-packages (1.21.4)

In [3]:
# Define a numpy array passing a list with  1,2 and 3 as elements in it
a = np.array([1,2,3])

In [4]:
# print a
a

array([1, 2, 3])

## Dimensions in Arrays


Numpy array can be of n dimentions

Lets create arrays of different dimentions.

a=A numpy array with one single integer 10

b=A numpy array passing a list having a list= [1,2,3]

c=A numpy array passing nested list having [[1, 2, 3], [4, 5, 6]] as elements

d=A numpy array passing nested list having [[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]] as elements

<p style='text-align: right;'> 3 points </p>

In [5]:
#define a,b,c and d as instructed above

a = np.array(10)
b = np.array([1,2,3])
c = np.array([[1, 2, 3], [4, 5, 6]])
d = np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]])

Are you ready to check its dimension? Use ndim attribute on each variable to check its dimension

In [6]:
#print dimentions of a,b, c and d
print('a dimension:', a.ndim)
print('b dimension:', b.ndim)
print('c dimension:', c.ndim)
print('d dimension:', d.ndim)

a dimension: 0
b dimension: 1
c dimension: 2
d dimension: 3



Lets print there shape as well. You can check shape using shape attribute

In [7]:
# print shape of each a,b ,c and d
print(a)
print('shape of a:', a.shape)
print(b)
print('shape of b:', b.shape)
print(c)
print('shape of c:', c.shape)
print(d)
print('shape of d:', d.shape)

10
shape of a: ()
[1 2 3]
shape of b: (3,)
[[1 2 3]
 [4 5 6]]
shape of c: (2, 3)
[[[1 2 3]
  [4 5 6]]

 [[1 2 3]
  [4 5 6]]]
shape of d: (2, 2, 3)

Lets check data type passed in our array. To check data type you can use dtype attribute

In [8]:
# print data type of c and d
print(c.dtype)
print(d.dtype)

int32
int32

Lets check the type of our variable. To check type of any numpy variable use type() function

In [9]:
#print type of a and b variable
print(type(a))
print(type(b))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [10]:
# Lets check length of array b, using len() function
len(b)

3

In [13]:
# Define l1,l2,l3 and l4 as stated above.
l1 = [10,20,30]
l2 = [40,50,60]
l3 = np.array(l1)
l4 = np.array(l2)
print(type(l3))
print(l4)

<class 'numpy.ndarray'>
[40 50 60]

### Creating Numpy array


There are multiple ways to create numpy array. Lets walk over them

1. Using arrange() function <br>
<p style='text-align: right;'> 8 points </p>

In [14]:
#Create a numpy array using arange with 1 and 11 as parameter in it
np.arange(1, 11)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [15]:
# Create an array using arange passing 1,11 and 2 as parameters
np.arange(1,11,2)

array([1, 3, 5, 7, 9])



2. Using eye Function <br>

In [16]:
# create numpy array using eye function with 3 as passed parameter
np.eye(10, dtype = float)

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]])

Wohoo! eye return a 2-D array with ones on the diagonal and zeros elsewhere.

3. Using zero function<br>

In [17]:
#create a numpy array using zero function with (3,2) as passed parameter takes default float
np.zeros((3, 2),dtype=int) # default float

array([[0, 0],
       [0, 0],
       [0, 0]])

Zero function returns a new array of given shape and type, filled with zeros.

4. Using ones Function <br>

In [18]:
#create a numpy array using ones function with (3,2) as passed parameter
np.ones((3, 2))

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

You noticed! ones function returns a new array of given shape and type, filled with ones.

5. Using full Function<br>

In [20]:
#create a numpy array using full function with (3,2) and 2 as passed parameter
np.full((3, 2), 10)

array([[10, 10],
       [10, 10],
       [10, 10]])

<img src="https://backtobazics.com/wp-content/uploads/2018/08/numpy-eye-full-methods.jpg">



6. Using diag function<br>

In [21]:
#create a numpy array using diag function passing a list [1,2,3,4,5]
x = [1,2,3,4,5,6,7]
np.diag(x)

array([[1, 0, 0, 0, 0, 0, 0],
       [0, 2, 0, 0, 0, 0, 0],
       [0, 0, 3, 0, 0, 0, 0],
       [0, 0, 0, 4, 0, 0, 0],
       [0, 0, 0, 0, 5, 0, 0],
       [0, 0, 0, 0, 0, 6, 0],
       [0, 0, 0, 0, 0, 0, 7]])

<img src="https://i0.wp.com/datascienceparichay.com/wp-content/uploads/2021/08/numpy-linspace-illustration.png?w=900&ssl=1">

In [25]:
# Create an array with 100 values between 1 and 50 using linspace
np.linspace(1, 10, num=20)

array([ 1.        ,  1.47368421,  1.94736842,  2.42105263,  2.89473684,
        3.36842105,  3.84210526,  4.31578947,  4.78947368,  5.26315789,
        5.73684211,  6.21052632,  6.68421053,  7.15789474,  7.63157895,
        8.10526316,  8.57894737,  9.05263158,  9.52631579, 10.        ])


## Numpy Random numbers

In [50]:
# Generate one random number between 0 and 1 using numpy's random.rand() function.

np.random.random(1)[0]

0.285070318176328

In [48]:
# so let say I want a random value between 0 and 50
n

33

In [52]:
#get an array as stated above
np.random.randn(2,3)

array([[0.66276745, 0.04536175, 1.35876235],
       [0.18507201, 0.12973628, 1.23562478]])



## Numpy Reshape



Reshaping means changing the shape of an array.
The shape of an array is the number of elements in each dimension.
By reshaping we can add or remove dimensions or change number of elements in each dimension.

<p style='text-align: right;'> 6 points </p>

<img src="https://backtobazics.com/wp-content/uploads/2018/08/numpy-reshape-examples.jpg">

In [53]:
# Using arange() to generate numpy array x with numbers between 1 to 16
x = np.arange(1, 17)
print(x)
print(x.shape)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16]
(16,)

In [58]:
# Reshape x with 2 rows and 8 columns
n=x.reshape((8, 2))
print(n)
print(n.shape)

[[ 1  2]
 [ 3  4]
 [ 5  6]
 [ 7  8]
 [ 9 10]
 [11 12]
 [13 14]
 [15 16]]
(8, 2)

In [60]:
# convert to old dimension
v=n.ravel()
print(v.shape)
print(v)

(16,)
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16]

<img src="https://www.w3resource.com/w3r_images/numpy-manipulation-ravel-function-image-1.png">

In [63]:
# reshape x with dimension that will have 2 arrays that contains 4 arrays, each with 2 elements:
print(x)
x.reshape((2,8),order='F')

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16]

array([[ 1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16]])

<img src="https://www.w3resource.com/w3r_images/numpy-manipulation-ndarray-flatten-function-image-1.png">

## NumPy Array Indexing


Array indexing is the same as accessing an array element. You can access an array element by referring to its index number.

The indexes in NumPy arrays start with 0, meaning that the first element has index 0, and the second has index 1 etc.

<p style='text-align: right;'> 4 points </p>

In [64]:
# Flattening x convert array into one dimensional
x.flatten()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [65]:
# Create an array a with all even numbers between 1 to 17
a = np.arange(2,17,2)

# print a
a

array([ 2,  4,  6,  8, 10, 12, 14, 16])

In [66]:
# Get third element in array a
a[2]

6

In [67]:
#Print 3rd, 5th, and 7th element in array a
a[0:7:2]

array([ 2,  6, 10, 14])

Lets check the same for 2 D array

In [68]:
# Define an array 2-D a with [[1,2,3],[4,5,6],[7,8,9]] as its elements.
a = np.array([[1,2,3],[4,5,6],[7,8,9]])
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [69]:
# print the 3rd element from the 3rd row of a
a[2,2]

9

<img src="https://qph.fs.quoracdn.net/main-qimg-82a0721a240faf8b7aa563492f4ccadf">

In [70]:
# Define an array b again with [[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]] as its elements.
b = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
b

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [71]:
# Print 3rd element from 2nd list which is 1st list in nested list passed. Confusing right? 'a' have nested array.Understand the braket differences.
b[0][1][2]

6


Have you heared about **negative indexing?**


We can use negative indexing to access an array from the end.

In [72]:
# Print the second last element from the 2nd dim using negative indexing
b[-2][-1][-2]

5

Great job! 
So now you have learned how to to indexing on various dimentions of numpy array.

## NumPy Array Slicing

Slicing in python means taking elements from one given index to another given index.

    1. We pass slice instead of index like this: [start:end].
    2. We can also define the step, like this: [start:end:step].
    3. If we don't pass start its considered 0
    4. If we don't pass end its considered length of array in that dimension
    5. If we don't pass step its considered 1
    
<p style='text-align: right;'> 5 points </p>

    
1. **Array slicing in 1-D array.**

In [73]:
arr=np.arange(1,11)
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [74]:
# Slice elements from 1st to 5th element from array arr:
arr[0:5]

array([1, 2, 3, 4, 5])

In [75]:
# Slice elements from index 5 to the end of the array arr:
arr[5:]

array([ 6,  7,  8,  9, 10])

In [76]:
# Slice elements from the beginning to index 5 (not included) in array arr:
arr[0:5]

array([1, 2, 3, 4, 5])

In [77]:
# Print every other element from index 1 to index 7:
arr[1:7:2]

array([2, 4, 6])

In [78]:
# Return every other element from the entire array arr:
arr[0:10:2]

array([1, 3, 5, 7, 9])

In [79]:
# Print array a
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [80]:
# From the third element, slice elements from index 1 to index 5 (not included) from array 'a'
a[2,1:]

array([8, 9])

In [81]:
# In array 'a' print index 2 from all the rows :
arr[2]

3

In [82]:
# From all the elements in 'a', slice index 1 till end, this will return a 2-D array:
a[0:,1:]

array([[2, 3],
       [5, 6],
       [8, 9]])

Hurray! You have learned Slicing in Numpy array. Now you know to access any numpy array.

## Numpy copy vs view



<p style='text-align: right;'> 7 points </p>

In [83]:
x1= np.arange(10)

In [84]:
# assign x2 = x1
x2 = x1 # view

In [85]:
#print x1 and x2
print(x1)
print(x2)

[0 1 2 3 4 5 6 7 8 9]
[0 1 2 3 4 5 6 7 8 9]

Ok now you have seen that both of them are same

In [86]:
# change 1st element of x2 as 10
x2[0] = 10

In [87]:
#Again print x1 and x2
print(x1)
print(x2)

[10  1  2  3  4  5  6  7  8  9]
[10  1  2  3  4  5  6  7  8  9]

Wait a minute. Just check your above result on change of x2, x1 also got changed. Why?

Lets check if both the variables shares memory. Use numpy shares_memory() function to check if both x1 and x2 shares a  memory.

In [91]:
# Check memory share between x1 and x2
print(np.shares_memory(x1, x2))
print(id(x1))
print(id(x2))

False
2320460171472
2320460172048

Hey It's True they both share memory

Shall we try **view()** function also likwise.

In [92]:
# Create a view of x1 and store it in x3.
x3 = x1.view()

In [93]:
# Again check memory share between x1 and x3
np.shares_memory(x1, x3)

True

In [ ]:
#Change 1st element of x3=100
x3[0] = 100

In [ ]:
#print x1 and x3 to check if changes reflected in both
print(x1)
print(x3)

Now its proved.

Lets see how **Copy()** function works

In [99]:
# Now create an array x4 which is copy of x1

x4 = np.copy(x1)

In [100]:
# Change the last element of x4 as 900
x4[-1] = 900

In [101]:
# print both x1 and x4 to check if changes reflected in both
print(x1)
print(x4)

[10  1  2  3  4  5  6  7  8  9]
[ 10   1   2   3   4   5   6   7   8 900]

Hey! such an intresting output. You noticed buddy! your original array didn't get changed on change of its copy ie. x4.

In [102]:
#Check memory share between x1 and x4
np.shares_memory(x1, x4)

False

You see! x1 and x4 don't share its memory. 

So with all our outputs we can takeaway few points:

    1. The main difference between a copy and a view of an array is that the copy is a new array, and the view is just a view of the original array.

    2. The copy owns the data and any changes made to the copy will not affect original array, and any changes made to the original array will not affect the copy.

    3. The view does not own the data and any changes made to the view will affect the original array, and any changes made to the original array will affect the view.

## More operations on Numpy

**1. Applying conditions**



<p style='text-align: right;'> 5 points </p>

In [94]:
#print a
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

We are going to use 'a' array for all our array condition operations.

In [95]:
# Check if every element in array a greater than 3 or not Using '>' notation
a > 3

array([[False, False, False],
       [ True,  True,  True],
       [ True,  True,  True]])

In [96]:
# Get a list with all elements of array 'a' grater than 3
a[a > 3]

array([4, 5, 6, 7, 8, 9])

In [97]:
# Get a list with all elements of array 'a' greater than 3 but less than 6
a[(a > 3) & (a < 6)]

array([4, 5])

In [103]:
# check if each elements in array 'x1' equals array 'x4' using '==' notation
x1 == x4

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
       False])

You can see in above output that the last element is not same in both x1 and x4

Well done so far.

Lets check how to transpose an array

**2. Transposing array**

In [104]:
# Print Transpose of array 'a'
print(a.transpose())
#print array 'a'
print("-----------------")
print(a)

[[1 4 7]
 [2 5 8]
 [3 6 9]]
-----------------
[[1 2 3]
 [4 5 6]
 [7 8 9]]

In above output all the rows became columns by transposing

**3. hstack vs vstack function**



Stacking is same as concatenation, the only difference is that stacking is done along a new axis.

NumPy provides a helper function: 

1. hstack() to stack along rows.
2. vstack()  to stack along columns

<img src="https://images4.pianshen.com/908/91/91b34f7c4a78a2e22d6b7ba0a7186584.png">

In [105]:
# stack x1 and x4 along columns.
print(x1)
print(x4)
np.vstack((x1, x4))

[10  1  2  3  4  5  6  7  8  9]
[ 10   1   2   3   4   5   6   7   8 900]

array([[ 10,   1,   2,   3,   4,   5,   6,   7,   8,   9],
       [ 10,   1,   2,   3,   4,   5,   6,   7,   8, 900]])

In [106]:
#stack x1 and x4 along rows
np.hstack((x1, x4))

array([ 10,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,   1,   2,
         3,   4,   5,   6,   7,   8, 900])

## Adding, Insert and delete Numpy array


<p style='text-align: right;'> 3 points </p>

Lets use insert() function which Inserts values into array before specified index value

In [107]:
# Inserts values into array x1 before index 4 with elements of x4
print(x1)
print(x4)
np.insert(x1, 4, x4)

[10  1  2  3  4  5  6  7  8  9]
[ 10   1   2   3   4   5   6   7   8 900]

array([ 10,   1,   2,   3,  10,   1,   2,   3,   4,   5,   6,   7,   8,
       900,   4,   5,   6,   7,   8,   9])

You can see in above output we have inserted all the elements of x4 before index 4 in array x1.

In [109]:
# delete 2nd element from array x2
print(x2)
np.delete(x2, 0)

[10  1  2  3  4  5  6  7  8  9]

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

Did you see? 2 value is deleted from x2 which was at index position 2

## Mathmatical operations on Numpy array



<p style='text-align: right;'> 8 points </p>

In [110]:
#defining a
a= np.array([[1,2,3],[4,5,6],[7,8,9]])

In [111]:
# print trigonometric sin value of each element of a
np.sin(a)

array([[ 0.84147098,  0.90929743,  0.14112001],
       [-0.7568025 , -0.95892427, -0.2794155 ],
       [ 0.6569866 ,  0.98935825,  0.41211849]])

In [113]:
(np.sin(a))/(np.cos(a))

array([[ 1.55740772, -2.18503986, -0.14254654],
       [ 1.15782128, -3.38051501, -0.29100619],
       [ 0.87144798, -6.79971146, -0.45231566]])

In [114]:
# print trigonometric cos value of each element of a
np.cos(a)

array([[ 0.54030231, -0.41614684, -0.9899925 ],
       [-0.65364362,  0.28366219,  0.96017029],
       [ 0.75390225, -0.14550003, -0.91113026]])

In [115]:
# Print exponential value of each elements of a
np.exp(a)

array([[2.71828183e+00, 7.38905610e+00, 2.00855369e+01],
       [5.45981500e+01, 1.48413159e+02, 4.03428793e+02],
       [1.09663316e+03, 2.98095799e+03, 8.10308393e+03]])

In [116]:
# print total sum of elements of a
np.sum(a)

45

In [117]:
# Print sum in array a column wise
np.sum(a, axis=1)

array([ 6, 15, 24])

In [118]:
# Print sum in array a row wise
np.sum(a, axis=0)

array([12, 15, 18])

<img src="https://th.bing.com/th/id/R.9230ced1c11e813fb069ddcac6566fdf?rik=C1ohvKa4zik%2b4w&riu=http%3a%2f%2flh5.ggpht.com%2f-1oz5Rz51kmo%2fU_xUcCLo4KI%2fAAAAAAAAB1g%2fyzk9KPcJ-NM%2fmeasures%25252520of%25252520central%25252520tendency_thumb%2525255B13%2525255D.gif%3fimgmax%3d800&ehk=%2bBH1cRV14pqT3nEfMTOkYImdkFZDlqR6fFJ1eM%2bKAcw%3d&risl=&pid=ImgRaw&r=0">

In [119]:
# print median of array a
np.median(a)

5.0

In [120]:
# print mean of array a
np.mean(a)

5.0

<img src="https://th.bing.com/th/id/R.a2c52d7062fa0de9d9df6032b7e0da75?rik=ptW1AfWGEGJi%2fQ&riu=http%3a%2f%2fimage.slideserve.com%2f274561%2fformula-for-standard-deviation-l.jpg&ehk=VClOXZLFkcG6HPqdc7rRMwWSMjYJ2T%2fGN1A8smQgV5Q%3d&risl=&pid=ImgRaw&r=0">

In [121]:
# print standard deviation of array a
np.std(a)

2.581988897471611

In [122]:
#print largest element present in array a
np.max(a)

9

In [123]:
# print sorted x4 array
np.sort(x4)

array([  1,   2,   3,   4,   5,   6,   7,   8,  10, 900])

## Searching Arrays

You can search an array for a certain value, and return the indexes that get a match.

To search an array, use the where() method.

<p style='text-align: right;'> 4 points </p>

In [124]:
# print the indexes where the value is 4 in array x1

m=np.where(x1 == 4)
m

(array([4], dtype=int64),)

In [125]:
#print array x1
x1

array([10,  1,  2,  3,  4,  5,  6,  7,  8,  9])

In [126]:
# Print the indexes where the values are even in array x1
np.where(x1%2 == 0)

(array([0, 2, 4, 6, 8], dtype=int64),)

In [127]:
# Print x1 where x1 is greater than 5, also if number is less than 5 then replace it with 0

np.where(x1>5, x1, 0)

array([10,  0,  0,  0,  0,  0,  6,  7,  8,  9])